*{
    margin:0px;
    padding:0px;
}
h4{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}
.header{
    background: rgb(193, 204, 164);
    height: 50px;
}
.header a{
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    padding-top:5px;
    padding-left: 20px;
    width: 100px;
}
a:hover{
    background-color: coral;
    height: 44px;
}
.firstline #no{
    margin-right: 440px;
    margin-left: 340px;
    font-size: 20px;
    background-color: red;
    border:2px solid black;
    border-radius: 7px;
    padding: 5px;
    color: white;
}
.firstline{
    margin-bottom: 80px;
    margin-top:40px;
}
.secondline #result{
    margin-left: 590px;
}
#yes{
    font-size: 20px;
    background-color: blue;
    border:2px solid black;
    border-radius: 7px;
    padding: 5px;
    color: white;
}
.secondline>button{
    font-size:15px;
    padding:5px;
    border: 2px solid black;
    border-radius:7px;
}
.dap{
    height: 44px;
    margin-right: 0px;
    background-color: darkgoldenrod;
}