*{
    margin:0px;
    padding:0px;
}
.firstline button{
    background-color: aqua;
}
h4{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}
.header{
    background: rgb(193, 204, 164);
    height: 50px;
}
.header a{
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    padding-top:5px;
    padding-left: 20px;
    width: 100px;
}
a:hover{
    background-color: coral;
    height: 44px;
}
.firstline .no{
    margin-right: 440px;
    margin-left: 340px;
}
.firstline{
    margin-bottom: 30px;
}
.secondline .result{
    margin-left: 450px;
    margin-right: 200px;
}